@import "willow_element.css";

.willow_block
{
    font-size:22pt;
    min-height:500px;
    max-height:500px;
    height:500px;
    min-width:260px;
    max-width:260px;
    width:260px;
    border:thin solid black;
    writing-mode:tb-rl;
}
